.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}
.col1{
    background-color: lightcoral;
    text-align: center;
}

.col2{
    background-color: lightblue;
    text-align: center;

}

.col3{
    background-color: lightgreen;
    text-align: center;
}