.fixed{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
    background-color: lightgrey;
    
}

.flexible{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    background-color: blue;

}